@font-face {
    font-family: 'norsebold';
    src: url('norse-bold-webfont.woff2') format('woff2'),
         url('norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
}
body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
}

.background {
    display: grid;
    grid-row: 1 / 4;
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    width: 300px;
    height: 100vh;
    text-align: center;
}

.background p {
    width: 300px;
    padding: 10px 0px;
    background: rgba(6, 6, 6, 0.3);
    margin: auto;
    color: white;
    font: 75px norsebold;
}

.right {
    display: inline-block;
}

.intro {
    grid-column: 2 / 3;
    grid-row: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgb(246, 246, 246);
}

/* .intro p {
    vertical-align: bottom;
    width: 100%;
    height: 100%;
} */

.form {
    grid-column: 2 / 3;
    grid-row: 2;
    padding: 30px;

}

.submit {
    grid-column: 2 / 3;
    grid-row: 3;
    padding: 30px;
    background-color: rgb(246, 246, 246);
}

.flex {
    display: flex;
}

.submit1, .submit2 {
    width: 400px;
    padding-right: 10%;
}

label, input {
    width: 100%;
}

input {
    margin: 0 30px 30px 0 ;
}