@font-face {
    font-family: 'norsebold';
    src: url('norse-bold-webfont.woff2') format('woff2'),
         url('norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    background-color: black;
    padding: 0 25px;
}
body {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
}

.background {
    display: grid;
    grid-row: 1 / 4;
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    width: 400px;
    height: 100%;
    text-align: center;
}

.background p {
    width: 400px;
    padding: 10px 0px;
    background: rgba(6, 6, 6, 0.3);
    margin: auto;
    color: white;
    font: 75px norsebold;
}

.right {
    display: inline-block;
}

.intro {
    grid-column: 2 / 3;
    grid-row: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgb(246, 246, 246);
    font-weight: bold;
}

.form {
    grid-column: 2 / 3;
    grid-row: 2;
    padding: 30px;
    background-color: white;
}

.bigger {
    font-size: 30px;
}

.submit {
    grid-column: 2 / 3;
    grid-row: 3;
    padding: 30px;
    background-color: rgb(246, 246, 246);
}

.flex {
    display: flex;
}

.fillIn1, .fillIn2 {
    width: 400px;
    padding-right: 10%;
}

label, input {
    width: 100%;
}

input {
    margin: 0 30px 30px 0 ;
}

input:invalid {
    outline: 1px solid red;
}

input:focus {
    outline: 1px solid blue;
    box-shadow: 3px 3px black;
}

input + span {
    position: relative;
  }
  
input[id="password"]:focus + span:after,
input[id="confirmPassword"]:focus + span:after {
    text-wrap: nowrap;
    font-size: 0.8rem;
    position: absolute;
    content: "format: alphabets followed by numbers";
    color: white;
    background-color: black;
    padding: 5px 10px;
    top: -30px;
    left: 90px;
}

button {
    background-color: rgb(34, 121, 20);
    color: white;
    font-size: 20px;
    padding: 15px 60px;
    border: none;
    border-radius: 5px;
}